@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #6070ff;
  --header-color: #172b4d;
  --paragraph-color: #344563;
  --white-bg-color: #fff;
  --enabled-btn-color: #7f8cff;
  --border-gray-color: #dfe1e6;
  --text-soft-white-color: #ebebff;
  --active-btn-color: #2230d2;
  --disabled-btn-color: #5e6c84;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  overflow-x: hidden;
}

#headline-page {
  width: 375px;
  margin: 0 auto;
  background: var(--white-bg-color) url(./images/header-shapes-mobile.png) 0 74px no-repeat;
  border-bottom-left-radius: 80px;
  background-color: var(--white-bg-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 36px 0 24px;
}

#logo {
  width: 76px;
  height: 20px;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-color);
  animation: rotateLogo 1s ease-in 1s;
}

@keyframes rotateLogo {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

#menu-icon {
  width: 16px;
  cursor: pointer;
  color: var(--primary-color);
}

#nav-links {
  display: none;
}

#headline {
  height: 550px;
  border-bottom-left-radius: 50px;
}

.header {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: var(--header-color);
  margin: 114px 24px 0;
}

.portfolio-description {
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
  margin: 12px 24px;
}

.lets-connect {
  font-size: 16px;
  font-weight: 500;
  color: var(--enabled-btn-color);
  margin-left: 24px;
  margin-bottom: 12px;
}

.social-media-links {
  width: 160px;
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  padding-left: 0;
  list-style-type: none;
}

.social-media-link {
  color: #505f79;
  text-decoration: none;
}

#works {
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  margin-top: 26px;
}

.project {
  width: 327px;
  height: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-bg-color);
  margin: 88px 24px 0;
  padding-bottom: 15px;
  border: 1px solid var(--border-gray-color);
  border-radius: 16px;
}

.project:nth-child(2n) {
  height: 596px;
}

.project-screenshot {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
  margin: 16px 16px 12px;
}

.project-title {
  width: 295px;
  font-size: 32px;
  color: var(--header-color);
  font-weight: 700;
  line-height: 44px;
  margin: 0 16px;
}

.project-info {
  width: 236px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 600;
  margin: 20px 75px 0 16px;
}

.project-company {
  color: var(--paragraph-color);
}

.project-type,
.project-year {
  color: #7a869a;
}

.project-description {
  width: 295px;
  height: 76px;
  font-size: 15px;
  line-height: 24px;
  margin: 20px 16px 0;
}

.project-languages {
  width: 203px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 12px 108px 0 16px;
  padding: 0;
}

.language {
  font-size: 12px;
  line-height: 16px;
  color: var(--primary-color);
  padding: 4px 12px;
  background-color: var(--text-soft-white-color);
  border-radius: 8px;
}

.enabled-btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: var(--white-bg-color);
  border: 1px solid var(--enabled-btn-color);
  border-radius: 8px;
  box-sizing: border-box;
  align-self: flex-start;
  margin: 24px 0 0 16px;
  padding: 12px;
  transition: background-color 1s, color 1s;
}

.enabled-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-bg-color);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.enabled-btn:active {
  background-color: var(--active-btn-color);
  color: var(--white-bg-color);
}

.enabled-btn:disabled {
  cursor: default;
  background-color: var(--white-bg-color);
  color: var(--disabled-btn-color);
  border: 1px solid var(--disabled-btn-color);
}

#about-myself {
  width: 375px;
  background-color: var(--white-bg-color);
  border-top-right-radius: 80px;
  margin: 114px auto 0;
  padding-bottom: 100px;
}

#about-myself .header {
  margin-top: 0;
  padding-top: 114px;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

#skills ul {
  padding-left: 0;
}

.skill {
  width: 327px;
  cursor: pointer;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid var(--border-gray-color);
  box-sizing: border-box;
  padding: 23px 42px 23px 12px;
}

#skills li:nth-of-type(1) {
  border-bottom: none;
  padding-bottom: 0;
}

#skills li:nth-of-type(2) {
  list-style-type: none;
}

.skill-languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px 0;
  padding-left: 0;
}

.skill-languages .language {
  width: 303px;
  height: 67px;
  display: flex;
  align-items: center;
  list-style-type: none;
  background-color: #f7f7f9;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #253858;
  box-sizing: border-box;
  margin-top: 12px;
}

.language-logo {
  margin-right: 16px;
}

#form-section {
  width: 375px;
  background: var(--primary-color) url('./images/form-background.svg') 100% 21px no-repeat;
  border-top-left-radius: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.contact-header {
  font-size: 40px;
  font-weight: 700;
  color: var(--white-bg-color);
  margin-bottom: 0;
  margin-top: 103px;
}

.contact-description {
  width: 327px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: var(--text-soft-white-color);
  margin-top: 12px;
}

#contact-form {
  width: 327px;
  margin-bottom: 45px;
}

.form-input {
  width: 100%;
  height: 48px;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  color: var(--header-color);
  background-color: var(--white-bg-color);
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0 16px;
}

#message {
  height: 170px;
  resize: none;
  font-family: inherit;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 15px 16px;
}

#submit-button {
  width: 140px;
  height: 48px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 17px;
  font-weight: 500;
  color: var(--primary-color);
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
}

#submit-button:hover {
  background-color: var(--primary-color);
  color: var(--white-bg-color);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

#submit-button:active {
  background-color: var(--active-btn-color);
  color: var(--white-bg-color);
}

#submit-button:disabled {
  cursor: default;
  background-color: var(--white-bg-color);
  color: var(--disabled-btn-color);
  border: 1px solid var(--disabled-btn-color);
}

@media only screen and (min-width: 768px) {
  body {
    width: 100vw;
  }

  #menu-icon {
    display: none;
  }

  #nav-links {
    width: 235px;
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    list-style-type: none;
    font-size: 15px;
    font-weight: 500;
  }

  .nav-link a {
    text-decoration: none;
    color: var(--paragraph-color);
  }

  header {
    width: 79vw;
  }

  #headline-page {
    width: 100vw;
    height: 916px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white-bg-color) url(./images/header-bg-desktop.png) 100% 118px no-repeat;
    background-size: contain;
    border-bottom-left-radius: 150px;
  }

  #headline {
    width: 64vw;
    margin-top: 258px;
  }

  #headline .header {
    font-size: 48px;
    line-height: 60px;
    margin-top: 0;
  }

  .portfolio-description {
    font-size: 20px;
    line-height: 28px;
  }

  .lets-connect {
    font-size: 16px;
    margin-top: 40px;
  }

  #works {
    align-items: center;
  }

  .project {
    width: 80vw;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
  }

  .project:nth-child(2n) {
    height: auto;
    flex-direction: row-reverse;
  }

  .project-screenshot {
    width: 47%;
    height: auto;
    margin: 0;
  }

  .project-div {
    width: 45%;
    box-sizing: border-box;
    margin: 48px 46px 0;
  }

  .project-title {
    font-size: 40px;
  }

  .project-info {
    width: 100%;
    justify-content: flex-start;
    font-size: 18px;
  }

  .project-info img {
    margin: 0 12px;
  }

  .project-description {
    font-size: 16px;
    line-height: 24px;
  }

  .enabled-btn {
    margin-top: 40px;
  }

  #about-myself {
    width: 100vw;
    display: flex;
    border-top-right-radius: 150px;
  }

  #intro {
    width: 31%;
    margin: 10% 0 0 10%;
  }

  #intro .header {
    font-size: 40px;
    line-height: 52px;
    padding-top: 0;
  }

  #intro .portfolio-description {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    margin: 0;
    padding: 12px 0 12px 24px;
  }

  #intro .lets-connect {
    margin-top: 12px;
  }

  #intro .social-media-links {
    margin-bottom: 0;
  }

  #intro .enabled-btn {
    margin-top: 34px;
  }

  #skills {
    width: 47.5%;
    align-items: flex-start;
    margin: 143px 0 0 37px;
  }

  #skills ul {
    width: 100%;
  }

  .skill {
    width: 100%;
    padding-left: 20px;
  }

  .skill-languages {
    flex-direction: row;
  }

  .skill-languages .language {
    width: 122px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 12px;
  }

  .skill-languages .language img {
    margin-bottom: 16px;
  }

  #form-section {
    width: 100vw;
    background: var(--primary-color) url(./images/contact-form-background.png) 100% 79px no-repeat;
    background-size: contain;
    border-top-left-radius: 150px;
  }

  .contact-header {
    margin-top: 142px;
  }

  .contact-description {
    width: 569px;
  }

  #contact-form {
    width: 31%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 127px;
  }

  .form-input {
    width: 446px;
    border-radius: 2px;
  }
}
