@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #6070ff;
  --header-color: #172b4d;
  --paragraph-color: #344563;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

#headline_page {
  width: 375px;
  margin: 0 auto;
  background-image: url(./images/header-shapes-mobile.png);
  background-position: 0 74px;
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 36px 0 24px;
}

header #logo {
  outline: none;
  text-decoration: none;
  width: 76px;
  height: 20px;
  position: static;
  top: 10px;
  left: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-color);
}

header #menu_icon {
  color: var(--primary-color);
  width: 16px;
}

#headline {
  height: 550px;
  border-bottom-left-radius: 50px;
}

#headline h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  top: 114px;
  left: 24px;
  margin: 114px 24px 0;
  color: var(--header-color);
}

#headline p {
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
  margin: 12px 24px;
}

.lets_connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-bottom: 12px;
}

.social_media_links {
  margin-left: 24px;
  width: 160px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.social_media_links .social_media_link {
  color: #505f79;
  text-decoration: none;
}

#works {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  margin-top: 26px;
}

.project {
  width: 327px;
  height: 552px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 88px 24px 0;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  padding-bottom: 15px;
}

.project:nth-child(2n) {
  height: 596px;
}

.project .project_screenshot {
  width: 295px;
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
  margin: 16px 16px 12px;
}

.project .project_title {
  width: 295px;
  color: var(--header-color);
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0 16px;
}

.project .project_info {
  display: flex;
  justify-content: space-between;
  width: 236px;
  margin: 20px 75px 0 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.project .project_info .project_company {
  color: var(--paragraph-color);
}

.project .project_info .project_type,
.project .project_info .project_year {
  color: #7a869a;
}

.project .project_description {
  width: 295px;
  height: 76px;
  font-size: 15px;
  line-height: 24px;
  margin: 20px 16px 0;
}

.project .project_languages {
  width: 203px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 12px 108px 0 16px;
  padding: 0;
}

.project .project_languages .language {
  font-size: 12px;
  line-height: 16px;
  color: var(--primary-color);
  padding: 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
}

.enabled_btn {
  cursor: pointer;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #7f8cff;
  box-sizing: border-box;
  border-radius: 8px;
  align-self: flex-start;
  margin: 24px 0 0 16px;
}

.enabled_btn:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.enabled_btn:active {
  background-color: #2230d2;
  color: #fff;
}

.enabled_btn:disabled {
  cursor: default;
  background-color: #fff;
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

#about_myself {
  width: 375px;
  margin: 114px auto;
  background-color: #fff;
  border-top-right-radius: 80px;
  padding-bottom: 100px;
}

#about_myself h2 {
  padding: 114px 24px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--header-color);
}

#about_myself p {
  width: 327px;
  height: 144px;
  padding: 0 24px;
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
}

#about_myself #skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
  padding-left: 0;
}

#about_myself #skills .skill {
  width: 327px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 23px 42px 23px 12px;
  border-bottom: 1px solid #dfe1e6;
  box-sizing: border-box;
}
